In [1]:
import pandas as pd

In [43]:
columns = ['dob','full_name','email','medication','dosage','quantity', 'date']

In [120]:
ds = pd.read_csv('prescriptions.csv', names=columns)

In [121]:
ds.sort_values(['full_name', 'date'], ascending=[True,False])

,dob,full_name,email,medication,dosage,quantity,date
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,10/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,09/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,08/08/21
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21

In [44]:
ds2 = pd.DataFrame([['33/3/3','swansten beans','swansten@hotmail.com','drugs!','12mg','128','20/08/21']], columns=columns)

In [45]:
ds = ds.append(ds2)

In [48]:
for num, i in enumerate(ds['full_name']):
    print(i)
    print(num)

Alec Matthews
0
Alec Matthews
1
Alec Matthews
2
Alec Matthews
3
Boris John
4
swansten beans
5

In [47]:
ds['full_name'][0] == ds['full_name'][1]

0     True
0    False
Name: full_name, dtype: bool

In [50]:
ds

,dob,full_name,email,medication,dosage,quantity,date
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,08/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,09/08/21
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,10/08/21
4,22/2/22,Boris John,boris@hotmail.com,amotriptiplyene,12mg,128,08/08/21
0,33/3/3,swansten beans,swansten@hotmail.com,drugs!,12mg,128,20/08/21

In [51]:
[1 if ((ds['full_name'][i] != ds['full_name'][i-1]) or (ds['dob'][i] != ds['dob'][i-1])) else 0 for i in range(1,ds['full_name'].shape[0])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [14]:
[n, i for n, i in enumerate(ds['full_name'])]

SyntaxError: invalid syntax (<ipython-input-14-c5d110537907>, line 1)

In [19]:
x=0
[x++ if pair[0] == ds['full_name'][pair[1]-1] else x=0 for pair in enumerate(ds['full_name'])]

SyntaxError: invalid syntax (<ipython-input-19-d855525afc38>, line 2)

In [132]:
ds['pt_ind'] = ds['full_name'].apply(lambda x: 1 if x )

,dob,full_name,email,medication,dosage,quantity,date
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,08/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,09/08/21
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,10/08/21
0,22/2/22,Boris John,boris@hotmail.com,amotriptiplyene,12mg,128,08/08/21

In [134]:
ds.to_csv?

In [135]:
ds.to_csv('scripts.csv', index=False)

In [5]:
ds = pd.read_csv('scripts.csv')

In [140]:
ls = [row for row in pd.read_csv('scripts.csv').iterrows()]

In [146]:
for i in ls:
    print(i[1].full_name)

Alec Matthews
Alec Matthews
Alec Matthews
Alec Matthews
Boris John

In [116]:
ls = [row for row in ds.iterrows()]

In [118]:
ls[0][1].full_name

'Alec Matthews'

In [63]:
for row in ds.iterrows():
    print(row[1])

dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med1
dosage                                   2mg
quantity                                  32
date                                07/08/21
Name: 0, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med2
dosage                                   4mg
quantity                                  64
date                                08/08/21
Name: 1, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med3
dosage                                   8mg
quantity                                 128
date                                09/08/21
Name: 2, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med4
dosage                                  16mg
quantity                                 256
date                                10/08/21
Name: 3, dtype: object

In [48]:
ds.iloc[1]

dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med2
dosage                                   4mg
quantity                                  64
date                                08/08/21
Name: 1, dtype: object

In [39]:
for i in ds.sort_values('date'):
    print(ds[i])

0    11/03/98
1    11/03/98
2    11/03/98
3    11/03/98
Name: dob, dtype: object
0    Alec Matthews
1    Alec Matthews
2    Alec Matthews
3    Alec Matthews
Name: name, dtype: object
0    alec.philip.matthews@gmail.com
1    alec.philip.matthews@gmail.com
2    alec.philip.matthews@gmail.com
3    alec.philip.matthews@gmail.com
Name: email, dtype: object
0    med1
1    med2
2    med3
3    med4
Name: medication, dtype: object
0     2mg
1     4mg
2     8mg
3    16mg
Name: dosage, dtype: object
0     32
1     64
2    128
3    256
Name: quantity, dtype: int64
0    07/08/21
1    08/08/21
2    09/08/21
3    10/08/21
Name: date, dtype: object