In [1]:
import pandas as pd

In [2]:
columns = ['dob','full_name','email','medication','dosage','quantity', 'date']

ds = pd.read_csv('prescriptions.csv', names=columns)

In [5]:
ds.head()

,dob,full_name,email,medication,dosage,quantity,date
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21

In [6]:
ds.sort_values(['full_name', 'date'], ascending=[True,False])

,dob,full_name,email,medication,dosage,quantity,date
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21
8,21/06/57,Edward Skill,ed.skil@gmail.com,med2,4mg,64,08/08/21
9,21/06/57,Edward Skill,ed.skil@gmail.com,med3,8mg,128,08/08/21
10,21/06/57,Edward Skill,ed.skil@gmail.com,med4,16mg,256,08/08/21
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21
5,15/04/68,Patrick School,pat.skol@gmail.com,med2,4mg,64,08/08/21
6,15/04/68,Patrick School,pat.skol@gmail.com,med3,8mg,128,08/08/21
7,15/04/68,Patrick School,pat.skol@gmail.com,med4,16mg,256,08/08/21
0,33/3/3,swansten beans,swansten@hotmail.com,drugs!,12mg,128,20/08/21

In [3]:
ds2 = pd.DataFrame([['33/3/3','swansten beans','swansten@hotmail.com','drugs!','12mg','128','20/08/21']], columns=columns)

ds = ds.append(ds2)

for num, i in enumerate(ds['full_name']):
    print(i)
    print(num)

ds['full_name'][0] == ds['full_name'][1]

ds[1 if ((ds['full_name'][i] != ds['full_name'][i-1]) or (ds['dob'][i] != ds['dob'][i-1])) else 0 for i in range(1,ds['full_name'].shape[0])]

Alec Matthews
0
Alec Matthews
1
Alec Matthews
2
Alec Matthews
3
Patrick School
4
Patrick School
5
Patrick School
6
Patrick School
7
Edward Skill
8
Edward Skill
9
Edward Skill
10
swansten beans
11

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [123]:
# ds.to_csv('scripts.csv', index=False)

In [41]:
for i in set(ds.full_name):
    print(i)

Patrick School
Edward Skill
Alec Matthews
swansten beans

In [40]:
{range(len(set(ds.full_name))), set(ds.full_name)}

TypeError: unhashable type: 'set'

In [124]:
ds = pd.read_csv('scripts.csv')

In [125]:
ds.head()

,dob,full_name,email,medication,dosage,quantity,date,pt_no,pt_ind
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21,0,0
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21,0,1
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21,0,2
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21,0,3
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21,1,0

In [62]:
pts = {name: num for (num, name) in enumerate(ds.full_name.unique())}
ds['pt_no'] = ds['full_name'].apply(lambda x: pts[x])

In [68]:
ds.full_name.value_counts()

Patrick School    4
Alec Matthews     4
Edward Skill      3
swansten beans    1
Name: full_name, dtype: int64

In [87]:

[x += 1 if num != 0 if i == ds.full_name[num-1] else x = 0 for num, i in enumerate(ds.full_name)]

SyntaxError: invalid syntax (<ipython-input-87-a9cd73402264>, line 1)

In [89]:
import numpy as np

In [116]:
def pt_ind(col_name):
    
    x = 0
    pt_ind = []
        
    for num, i in enumerate(col_name):
        pt_ind.append(x)
        if num != len(col_name)-1:
            if i == ds.full_name[num+1]:
                x += 1
            else:
                x = 0
        else:
            x += 1
    
    return np.array(pt_ind)

In [117]:
pt_ind(ds.full_name)

array([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 0])

In [119]:
pt_ind_df = pd.DataFrame(pt_ind(ds.full_name))

In [121]:
ds['pt_ind'] = pt_ind_df

In [122]:
ds.head(15)

,dob,full_name,email,medication,dosage,quantity,date,pt_no,pt_ind
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21,0,0
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21,0,1
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21,0,2
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21,0,3
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21,1,0
5,15/04/68,Patrick School,pat.skol@gmail.com,med2,4mg,64,08/08/21,1,1
6,15/04/68,Patrick School,pat.skol@gmail.com,med3,8mg,128,08/08/21,1,2
7,15/04/68,Patrick School,pat.skol@gmail.com,med4,16mg,256,08/08/21,1,3
8,21/06/57,Edward Skill,ed.skil@gmail.com,med2,4mg,64,08/08/21,2,0
9,21/06/57,Edward Skill,ed.skil@gmail.com,med3,8mg,128,08/08/21,2,1
10,21/06/57,Edward Skill,ed.skil@gmail.com,med4,16mg,256,08/08/21,2,2
11,33/3/3,swansten beans,swansten@hotmail.com,drugs!,12mg,128,20/08/21,3,0

In [100]:
ds['pt_ind'] = np.array(pt_ind)

ValueError: Length of values (11) does not match length of index (12)

In [67]:
ds.head(10)

,dob,full_name,email,medication,dosage,quantity,date,pt_no
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21,0
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21,0
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21,0
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21,0
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21,1
5,15/04/68,Patrick School,pat.skol@gmail.com,med2,4mg,64,08/08/21,1
6,15/04/68,Patrick School,pat.skol@gmail.com,med3,8mg,128,08/08/21,1
7,15/04/68,Patrick School,pat.skol@gmail.com,med4,16mg,256,08/08/21,1
8,21/06/57,Edward Skill,ed.skil@gmail.com,med2,4mg,64,08/08/21,2
9,21/06/57,Edward Skill,ed.skil@gmail.com,med3,8mg,128,08/08/21,2

In [34]:
ds.iloc[4]['date']

'08/08/21'

In [35]:
ds.iloc[4]['date'] = '06/08/21'

<ipython-input-35-872ec59ae07f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds.iloc[4]['date'] = '06/08/21'

In [6]:
ds['pt'] = ds['full_name'].apply(lambda x: )

,dob,full_name,email,medication,dosage,quantity,date
0,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med1,2mg,32,07/08/21
1,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med2,4mg,64,07/08/21
2,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med3,8mg,128,07/08/21
3,11/03/98,Alec Matthews,alec.philip.matthews@gmail.com,med4,16mg,256,07/08/21
4,15/04/68,Patrick School,pat.skol@gmail.com,med1,2mg,32,08/08/21

In [4]:
ls = [row for row in pd.read_csv('scripts.csv').iterrows()]

In [5]:
for i in ls:
    print(i[1].full_name)

Alec Matthews
Alec Matthews
Alec Matthews
Alec Matthews
Patrick School
Patrick School
Patrick School
Patrick School
Edward Skill
Edward Skill
Edward Skill
swansten beans

In [116]:
ls = [row for row in ds.iterrows()]

In [118]:
ls[0][1].full_name

'Alec Matthews'

In [63]:
for row in ds.iterrows():
    print(row[1])

dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med1
dosage                                   2mg
quantity                                  32
date                                07/08/21
Name: 0, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med2
dosage                                   4mg
quantity                                  64
date                                08/08/21
Name: 1, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med3
dosage                                   8mg
quantity                                 128
date                                09/08/21
Name: 2, dtype: object
dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med4
dosage                                  16mg
quantity                                 256
date                                10/08/21
Name: 3, dtype: object

In [48]:
ds.iloc[1]

dob                                 11/03/98
name                           Alec Matthews
email         alec.philip.matthews@gmail.com
medication                              med2
dosage                                   4mg
quantity                                  64
date                                08/08/21
Name: 1, dtype: object

In [39]:
for i in ds.sort_values('date'):
    print(ds[i])

0    11/03/98
1    11/03/98
2    11/03/98
3    11/03/98
Name: dob, dtype: object
0    Alec Matthews
1    Alec Matthews
2    Alec Matthews
3    Alec Matthews
Name: name, dtype: object
0    alec.philip.matthews@gmail.com
1    alec.philip.matthews@gmail.com
2    alec.philip.matthews@gmail.com
3    alec.philip.matthews@gmail.com
Name: email, dtype: object
0    med1
1    med2
2    med3
3    med4
Name: medication, dtype: object
0     2mg
1     4mg
2     8mg
3    16mg
Name: dosage, dtype: object
0     32
1     64
2    128
3    256
Name: quantity, dtype: int64
0    07/08/21
1    08/08/21
2    09/08/21
3    10/08/21
Name: date, dtype: object